html {
    background-color: #7FDBFF;

}

body {
    margin: 0;
}
h1 {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
    color: #FFDC00;

}

.btn {
    margin-bottom: 10px;
    transform: translateY(-15%);
    color: white;
    padding: 5px;
    background-color: #001f3f;
}

.page-header {
    text-align: center;
    background-color: #001f3f;
}

#board {
    display: inline-block;
    vertical-align: top;
    margin-left: 20%;
    margin-top: 2%;


}
.row{
    height:200px;
    margin-bottom:10px;
}

.cardBacks{
    background-image: url('../images/texture.jpg');
    height: 180px;
    width:120px;
    display:inline-block;
    margin-top: 5%;
    margin-left:7%;
    box-shadow: 10px 10px 5px #888888;

}
